## About

This was created by Matt & Matthew, the co-founders of Ditto Digital.

We made this to spend less time setting up projects, and have a way to maintain a personal library of project starters, both local and remote.

Check out [planter.dev](http://planter.dev) for more info.