/*
  
  BASE 
  
  Define your "base" styles here that are used across your project,
  and implement design tokens

  Contents:
    - Global
    - Root
    - Body
    - Typography
    - Links (Text)
  
*/

// GLOBAL
// ────────────────────────────────────
// Normalize elements so that `width` is not affected by `padding` or `border`

*,
*::before,
*::after {
  box-sizing: border-box;
}

// ROOT
// ────────────────────────────────────
// Initialize the root font size for the document

:root {
  font-size: $font-size-root;
}

// BODY
// ────────────────────────────────────

// Compatibility fixes (credits to twbs):
// 1. As a best practice, apply a default `background-color`.
// 2. Prevent adjustments of font size after orientation changes in iOS.
// 3. Change the default tap highlight to be completely transparent in iOS.

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-font-color;
  text-align: $body-text-align;
  letter-spacing: $body-letter-spacing;
  background-color: $paper; // 1
  -webkit-text-size-adjust: 100%; // 2
  -webkit-tap-highlight-color: rgba($black, 0); // 3
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;

  &::selection {
    background: $highlight-bg;
    color: $highlight-fg;
  }
}

// TYPOGRAPHY
// ────────────────────────────────────

%heading {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  font-style: $heading-font-style;
  line-height: $heading-line-height;
  text-transform: $heading-text-transform;
  letter-spacing: $heading-letter-spacing;
  color: $heading-color;
  margin-bottom: $heading-margin-bottom;
  margin-top: 0;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}
.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

.display {
  font-family: $display-font-family;
  font-weight: $display-font-weight;
  font-size: $display-font-size;
  color: $display-color;
  letter-spacing: $display-letter-spacing;
}

p {
  margin-top: 0;
}

small, 
.small-text {
  font-size: $small-font-size;
  font-weight: $small-font-weight;
  text-transform: $small-text-transform;
  letter-spacing: $small-letter-spacing;
}

b,
strong {
  font-weight: 700;
}

// LINKS
// ────────────────────────────────────

a:not(.unstyled) {
  color: $link-color;
  text-decoration: $link-decoration;
  letter-spacing: $link-letter-spacing;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: $link-hover-background-color;
  }

  &:focus-visible {
    border-radius: $border-radius;
    outline-offset: 2px; 
    outline: 2px solid $coral;
  }
}

// Override browser defaults
.unstyled {
  text-decoration: none;
  color: inherit;
  &:active {
    color: inherit;
  }
}

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

// Code
code {
  font-family: $font-family-monospace;
  font-size: $code-font-size;
  color: $code-color;
  font-weight: $code-font-weight;
  letter-spacing: $code-letter-spacing;
  background-color: $code-background-color;
  padding: sp(.2 .5 .3);
  border-radius: $border-radius-sm;
  vertical-align: text-bottom;
}
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code {
  font-size: .8em;
}

// Code Block
pre.shiki {
  padding: sp(1.5);
  border-radius: $border-radius-sm;
  overflow-x: auto;
  code {
    font-size: $code-block-font-size;
    color: $code-block-color;
    font-weight: $code-block-font-weight;
    letter-spacing: $code-block-letter-spacing;
    padding: 0;
  }
}