/*
  
  SHIKI HIGHLIGHTING
  
  CSS Variables to theme Shiki

  https://github.com/shikijs/shiki/blob/main/docs/themes.md#theming-with-css-variables
  
*/

:root {
  --shiki-color-text: #{$gray};
  --shiki-color-background: #{$burlap};
  --shiki-token-constant: #{$coral}; 
  --shiki-token-string: #{$dark-gray};
  --shiki-token-comment: #{$burlap-600};
  --shiki-token-keyword: #{$coral-700};
  --shiki-token-parameter: #{$coral};
  --shiki-token-function: #{$coral-500};
  --shiki-token-string-expression: #{$red-700};
  --shiki-token-punctuation: #{$coral};
  --shiki-token-link: #{$coral};
}