/*

  COLORS

  Tokens that define the color system and theme.

  Contents:
    - Colors
    - Tints & Shades (Variants)
    - Theme
  
*/

// COLORS
// ────────────────────────────────────

// Planter Brand
$paper:       #FFFDF5;
$burlap:      #F1EBD4;
$kelp-light:  #197554;
$kelp:        #406455;
$kelp-dark:   #263535;

// Auxiliary
$coral:       #F06A4C;
$blueberry:   #6F7DFF;
$aloe-light:  #EBFADB;
$aloe:        #90CC53;
$aloe-dark:   #518E14;

// Monochromatic
$white:       #FFFFFF !default;
$light-gray:  #C5C5C5;
$gray:        #717171;
$dark-gray:   #494949;
$black:       #000000;

// TINTS & SHADES (Variants)
// ────────────────────────────────────
// Generate extended color palette from the base colors

// 1. mix with base colors for tints
// 2. mix with base colors for shades
// 3. shade mix-color for darker bases, e.g. grays

$tint:        $white     !default; // 1
$shade:       $dark-gray !default; // 2
$shade-dark:  $black     !default; // 3

$paper-100: mix($paper, $tint, 50%)  !default;
$paper-200: mix($paper, $tint, 75%)  !default;
$paper-300: mix($paper, $tint, 95%)  !default;
$paper-400: $paper                   !default;
$paper-500: mix($paper, $shade, 95%) !default;
$paper-600: mix($paper, $shade, 85%) !default;
$paper-700: mix($paper, $shade, 70%) !default;

$burlap-100: mix($burlap, $tint, 25%)  !default;
$burlap-200: mix($burlap, $tint, 50%)  !default;
$burlap-300: mix($burlap, $tint, 75%)  !default;
$burlap-400: $burlap                   !default;
$burlap-500: mix($burlap, $shade, 75%) !default;
$burlap-600: mix($burlap, $shade, 50%) !default;
$burlap-700: mix($burlap, $shade, 25%) !default;

$kelp-light-100: mix($kelp-light, $tint, 25%)  !default;
$kelp-light-200: mix($kelp-light, $tint, 50%)  !default;
$kelp-light-300: mix($kelp-light, $tint, 75%)  !default;
$kelp-light-400: $kelp-light                   !default;
$kelp-light-500: mix($kelp-light, $shade, 75%) !default;
$kelp-light-600: mix($kelp-light, $shade, 50%) !default;
$kelp-light-700: mix($kelp-light, $shade, 25%) !default;

$kelp-100: mix($kelp, $tint, 25%)  !default;
$kelp-200: mix($kelp, $tint, 50%)  !default;
$kelp-300: mix($kelp, $tint, 75%)  !default;
$kelp-400: $kelp                   !default;
$kelp-500: mix($kelp, $shade, 75%) !default;
$kelp-600: mix($kelp, $shade, 50%) !default;
$kelp-700: mix($kelp, $shade, 25%) !default;

$kelp-dark-100: mix($kelp-dark, $tint, 25%)  !default;
$kelp-dark-200: mix($kelp-dark, $tint, 50%)  !default;
$kelp-dark-300: mix($kelp-dark, $tint, 75%)  !default;
$kelp-dark-400: $kelp-dark                   !default;
$kelp-dark-500: mix($kelp-dark, $shade, 75%) !default;
$kelp-dark-600: mix($kelp-dark, $shade, 50%) !default;
$kelp-dark-700: mix($kelp-dark, $shade, 25%) !default;

$coral-100: mix($coral, $tint, 15%)  !default;
$coral-200: mix($coral, $tint, 40%)  !default;
$coral-300: mix($coral, $tint, 70%)  !default;
$coral-400: $coral                   !default;
$coral-500: mix($coral, $shade, 85%) !default;
$coral-600: mix($coral, $shade, 72.5%) !default;
$coral-700: mix($coral, $shade, 60%) !default;

$blueberry-100: mix($blueberry, $tint, 25%)  !default;
$blueberry-200: mix($blueberry, $tint, 50%)  !default;
$blueberry-300: mix($blueberry, $tint, 75%)  !default;
$blueberry-400: $blueberry                   !default;
$blueberry-500: mix($blueberry, $shade, 75%) !default;
$blueberry-600: mix($blueberry, $shade, 50%) !default;
$blueberry-700: mix($blueberry, $shade, 25%) !default;

$aloe-light-100: mix($aloe-light, $tint, 25%)  !default;
$aloe-light-200: mix($aloe-light, $tint, 50%)  !default;
$aloe-light-300: mix($aloe-light, $tint, 75%)  !default;
$aloe-light-400: $aloe-light                   !default;
$aloe-light-500: mix($aloe-light, $shade, 75%) !default;
$aloe-light-600: mix($aloe-light, $shade, 50%) !default;
$aloe-light-700: mix($aloe-light, $shade, 25%) !default;

$aloe-100: mix($aloe, $tint, 25%)  !default;
$aloe-200: mix($aloe, $tint, 50%)  !default;
$aloe-300: mix($aloe, $tint, 75%)  !default;
$aloe-400: $aloe                   !default;
$aloe-500: mix($aloe, $shade, 75%) !default;
$aloe-600: mix($aloe, $shade, 50%) !default;
$aloe-700: mix($aloe, $shade, 25%) !default;

$aloe-dark-100: mix($aloe-dark, $tint, 25%)  !default;
$aloe-dark-200: mix($aloe-dark, $tint, 50%)  !default;
$aloe-dark-300: mix($aloe-dark, $tint, 75%)  !default;
$aloe-dark-400: $aloe-dark                   !default;
$aloe-dark-500: mix($aloe-dark, $shade, 75%) !default;
$aloe-dark-600: mix($aloe-dark, $shade, 50%) !default;
$aloe-dark-700: mix($aloe-dark, $shade, 25%) !default;

$light-gray-100: mix($light-gray, $tint, 25%)  !default;
$light-gray-200: mix($light-gray, $tint, 50%)  !default;
$light-gray-300: mix($light-gray, $tint, 75%)  !default;
$light-gray-400: $light-gray                   !default;
$light-gray-500: mix($light-gray, $shade, 75%) !default;
$light-gray-600: mix($light-gray, $shade, 50%) !default;
$light-gray-700: mix($light-gray, $shade, 25%) !default;

$gray-100: mix($gray, $tint, 25%)       !default;
$gray-200: mix($gray, $tint, 50%)       !default;
$gray-300: mix($gray, $tint, 75%)       !default;
$gray-400: $gray                        !default;
$gray-500: mix($gray, $shade-dark, 75%) !default;
$gray-600: mix($gray, $shade-dark, 50%) !default;
$gray-700: mix($gray, $shade-dark, 25%) !default;

$dark-gray-100: mix($shade, $tint, 25%)       !default;
$dark-gray-200: mix($shade, $tint, 50%)       !default;
$dark-gray-300: mix($shade, $tint, 75%)       !default;
$dark-gray-400: $dark-gray                    !default;
$dark-gray-500: mix($shade, $shade-dark, 75%) !default;
$dark-gray-600: mix($shade, $shade-dark, 50%) !default;
$dark-gray-700: mix($shade, $shade-dark, 25%) !default;