@import '../functions.scss';

$navHeight: sp(7.5);
$mobileNavHeight: 40px;
$sidebarWidth: 250px;
$headerHeight: 142px;
$headerHeightMobile: 142px;
$content-spacer: sp(3.5);
$content-spacer-mobile: sp(1.5);