/* 

  SPACING

  Tokens that are used for `spacer()` sass function

*/

// Base spacing value
$spacer: 1rem !default;    // 10px

$spacer-1:  $spacer * .5;
$spacer-2:  $spacer * 1; 
$spacer-3:  $spacer * 2; 
$spacer-4:  $spacer * 3; 
$spacer-5:  $spacer * 4; 
$spacer-6:  $spacer * 6; 
$spacer-7:  $spacer * 8; 
$spacer-8:  $spacer * 9; 

$spacer-size-map: (
  xs: $spacer-1,
  sm: $spacer-2,
  md: $spacer-3,
  lg: $spacer-4,
  xl: $spacer-5,
  xxl: $spacer-6,
  massive: $spacer-7,
  super: $spacer-8
);