/*
  
  TYPOGRAPHY
  
  Tokens for typographic elements.

  Contents:
    - Font Stacks
    - Font Size
    - Font Weight
    - Body
    - Line Height
    - Headings
    - Lead Paragraphs
    - Links
    - Small
    - Highlight

*/

// FONTS
// ────────────────────────────────────
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,500;0,700;0,900;1,400&family=IBM+Plex+Mono:wght@400;500;700&family=Lora:wght@500;700&display=swap');
$font-chivo: 'Chivo';
$font-lora: 'Lora';
$font-ibm-plex-mono: 'IBM Plex Mono';

// BASE 
// ────────────────────────────────────
// Used to initialize the root font styles

// FONT STACKS
$font-family-sans-serif:      $font-chivo, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           $font-lora, Georgia, serif, !default;
$font-family-monospace:       $font-ibm-plex-mono, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// FONT SIZE
$font-size-root:              10px !default; // Doesn't set a value unless you override it
$font-size-base:              1.6rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;

// FONT WEIGHT
$font-weight-base:            null !default;

// BODY
$body-font-color:             $black !default;
$body-text-align:             left !default;
$body-letter-spacing:         null !default;

// LINE HEIGHT
$line-height-base:            1.4 !default;
$line-height-sm:              1.2 !default;
$line-height-lg:              1.6 !default;

// HEADINGS
// ────────────────────────────────────
// Note: values set to `null` will inherit from root styles applied to body

$heading-font-family:         $font-family-sans-serif !default;
$heading-font-weight:         400 !default;
$heading-font-style:          null !default;
$heading-line-height:         $line-height-base !default;
$heading-color:               null !default;
$heading-text-transform:      null !default;
$heading-margin-bottom:       $spacer-2 !default;
$heading-letter-spacing:      null !default;

$h1-font-size:                3.2rem !default;
$h2-font-size:                2.4rem !default;
$h3-font-size:                2rem !default;
$h4-font-size:                1.8rem !default;
$h5-font-size:                1.6rem !default;
$h6-font-size:                1.4rem !default;

$display-font-family:         $font-family-serif;
$display-font-size:           7.2rem;
$display-font-weight:         700;
$display-color:               $black;
$display-letter-spacing:      -0.04em;

// LINKS
// ────────────────────────────────────
// Text links

$link-color:                    $coral !default;
$link-font-weight:              null !default;
$link-decoration:               underline !default;
$link-hover-color:              $coral-400 !default;
$link-hover-background-color:   $coral-100 !default;
$link-hover-decoration:         null !default;
$link-letter-spacing:           null !default;

// SMALL
// ────────────────────────────────────

$small-font-size:               1.4rem !default;
$small-font-weight:             600 !default;
$small-font-style:              null !default;
$small-text-transform:          uppercase !default;
$small-letter-spacing:          null !default;


// CODE
// ────────────────────────────────────

$code-font-size:               1.3rem !default;
$code-font-weight:             500 !default;
$code-letter-spacing:          null !default;
$code-color:                   $kelp-dark;
$code-background-color:        $burlap-400;

// CODE BLOCK (PRE)
// ────────────────────────────────────

$code-block-font-size:               1.5rem !default;
$code-block-font-weight:             500 !default;
$code-block-letter-spacing:          null !default;
$code-block-color:                   $kelp-dark;
$code-block-background-color:        $burlap-400;

// HIGHLIGHT
// ────────────────────────────────────
// Selected text, aka highlighted text

$highlight-bg:                null !default;
$highlight-fg:                null !default;